

.qr-code-container {
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 13rem;
    margin-left: 32rem;
  }
  
  .qr-code-image {
    width: 70%;
    height: 70%;
 
  }